<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="url" value="http://newtours.demoaut.com/mercurywelcome.php"/>
      <add key="username" value="admin"/>
      <add key="password" value="admin123456"/>
      <add key="username2" value="ad123"/>
      <add key="password2" value="ad456"/>
    </appSettings>
  
</configuration>